name: Pack on Tag
on:
  push:
    tags: ['v*.*.*']
jobs:
  pack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.0.x
      - name: Restore & Build & Pack
        run: dotnet pack src/MauiAppUpdater -c Release -o ./artifacts
      - name: Upload pack
        uses: actions/upload-artifact@v4
        with:
          name: mauiupdater-pack
          path: ./artifacts/*.nupkg
